#set($layout = "layout/empty.vm")
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta charset="utf-8" />
    <title>Dashboard - Ace Admin</title>

    <meta name="description" content="overview &amp; stats" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

    <!-- bootstrap & fontawesome -->
    <link rel="stylesheet" href="#springUrl('')/statics/ace-admin/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="#springUrl('')/statics/ace-admin/assets/font-awesome/4.5.0/css/font-awesome.min.css" />

    <!-- page specific plugin styles -->

    <!-- text fonts -->
    <link rel="stylesheet" href="#springUrl('')/statics/ace-admin/assets/css/fonts.googleapis.com.css" />

    <!-- ace styles -->
    <link rel="stylesheet" href="#springUrl('')/statics/ace-admin/assets/css/ace.min.css" class="ace-main-stylesheet" id="main-ace-style" />

    <!--[if lte IE 9]>
    <link rel="stylesheet" href="#springUrl('')/statics/ace-admin/assets/css/ace-part2.min.css" class="ace-main-stylesheet" />
    <![endif]-->
    <link rel="stylesheet" href="#springUrl('')/statics/ace-admin/assets/css/ace-skins.min.css" />
    <link rel="stylesheet" href="#springUrl('')/statics/ace-admin/assets/css/ace-rtl.min.css" />

    <!--[if lte IE 9]>
    <link rel="stylesheet" href="#springUrl('')/statics/ace-admin/assets/css/ace-ie.min.css" />
    <![endif]-->

    <!-- inline styles related to this page -->

    <!-- ace settings handler -->
    <script src="#springUrl('')/statics/ace-admin/assets/js/ace-extra.min.js"></script>

    <!-- HTML5shiv and Respond.js for IE8 to support HTML5 elements and media queries -->

    <!--[if lte IE 8]>
    <script src="#springUrl('')/statics/ace-admin/assets/js/html5shiv.min.js"></script>
    <script src="#springUrl('')/statics/ace-admin/assets/js/respond.min.js"></script>
    <![endif]-->




    <style>
        .content-tabs {
            border-bottom: solid 1px #999; /*tab页下面一条线的颜色*/
            position: relative;
          /*  height: 41px;*/
            background: #fafafa;
            line-height: 40px;
        }
        .breadcrumbs {
            margin-left: 0px;
            margin-right: 0px;
            min-height: 35px;
            line-height: 30px;
            font-family: "SimSun";
        }
        .content-tabs .roll-left {
            left: 0;
            border-right: solid 1px #eee;
        }
        .content-tabs .roll-nav, .page-tabs-list {
            position: absolute;
            width: 40px;
            height: 30px;
            text-align: center;
            color: #999;
            z-index: 2;
            top: 0;
            margin-top: 5px;
        }
        nav.page-tabs {
            margin-left: 40px;
            height: 30px;
            overflow: hidden;
            margin-top: 5px;
        }
        nav.page-tabs .page-tabs-content {
            float: left;
        }
        .page-tabs a.active {
            background: #438EB9;/*右边处于活动状态tab页的背景色*/
            color: #a7b1c2;
        }

        .page-tabs a {
            color: #999;
            display: block;
            float: left;
            padding: 0 15px;
            outline: none;
        }
        .J_menuTab {
            -webkit-transition: all .3s ease-out 0s;
            transition: all .3s ease-out 0s;
        }
        .roll-right.J_tabRight {
            right: 140px;
        }
        .content-tabs .roll-right {
            right: 0px;
            border-left: solid 1px #eee;
        }

        .content-tabs button {
            background: #fff;
            border: 0;
            height: 40px;
            width: 40px;
            outline: 0;
        }

        .content-tabs a:hover{
            text-decoration:none
        }

        .roll-right.btn-group {
            right: 60px;
            width: 80px;
            padding: 0;
        }
        .roll-right.btn-group button {
            width: 80px;
        }
        a {
            cursor: pointer;
        }

        .roll-right.J_tabRight {
            right: 0px;
        }

        .J_mainContent {
            height: calc(100vh - 121px);
        }
        #rightMenu li {
            width: 100px!important;
        }
        #rightMenu i.menu-icon.fa {
            margin-right: 5px;
        }

        #rightMenu ul li {
            border-bottom:1px solid #f1f1f1;
            height:25px;
            line-height:22px;
            background-position:right -2px;
            padding: 0 2px;
            /*list-style-type: none;*/
            cursor: pointer;
        }

        #rightMenu ul li.active {
            padding: 0 5px;
            height:25px;
        }
        .J_menuTab {
            letter-spacing: 1px;
            text-transform: uppercase;
            border-right: 1px #dcdcdc solid;
            border-left: 1px #dcdcdc solid;
            border-top: 1px #dcdcdc solid;
            border-top-right-radius: 6px!important;
            border-top-left-radius: 6px!important;
            background-image: -moz-linear-gradient(top,#fff,#f5f5f5);
            background-image: -ms-linear-gradient(top,#fff,#f5f5f5);
            background-image: -webkit-gradient(linear,0 0,0 100%,from(#fafaf9),to(#f5f5f5));
            background-image: -webkit-linear-gradient(top,#fff,#f5f5f5);
            background-image: -o-linear-gradient(top,#fff,#f5f5f5);
            background-image: linear-gradient(top,#fff,#f5f5f5);
            background-repeat: repeat-x;
        }





        .sidebar .sidebar-toggle {
            border-style: none;
        }
        .footer .footer-inner .footer-content {
            bottom: 0px;
            padding: 0px;
            line-height: 30px;
        }

        .page-content {
            padding: 3px 15px 24px;
        }
        .footer {
            padding-top: 67px;
        }

    </style>



</head>

<body class="no-skin">
<div id="navbar" class="navbar navbar-default          ace-save-state">
    <div class="navbar-container ace-save-state" id="navbar-container">
        <button type="button" class="navbar-toggle menu-toggler pull-left" id="menu-toggler" data-target="#sidebar">
            <span class="sr-only">Toggle sidebar</span>

            <span class="icon-bar"></span>

            <span class="icon-bar"></span>

            <span class="icon-bar"></span>
        </button>

        <div class="navbar-header pull-left">
            <a href="index.html" class="navbar-brand">
                <small>
                    <i class="fa fa-leaf"></i>
                    电网火电机组环保电价统计与分析系统
                </small>
            </a>
        </div>

        <div class="navbar-buttons navbar-header pull-right" role="navigation">
            <ul class="nav ace-nav">
                <li class="grey dropdown-modal">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <i class="ace-icon fa fa-tasks"></i>
                        <span class="badge badge-grey">4</span>
                    </a>

                    <ul class="dropdown-menu-right dropdown-navbar dropdown-menu dropdown-caret dropdown-close">
                        <li class="dropdown-header">
                            <i class="ace-icon fa fa-check"></i>
                            4 Tasks to complete
                        </li>

                        <li class="dropdown-content">
                            <ul class="dropdown-menu dropdown-navbar">
                                <li>
                                    <a href="#">
                                        <div class="clearfix">
                                            <span class="pull-left">Software Update</span>
                                            <span class="pull-right">65%</span>
                                        </div>

                                        <div class="progress progress-mini">
                                            <div style="width:65%" class="progress-bar"></div>
                                        </div>
                                    </a>
                                </li>

                                <li>
                                    <a href="#">
                                        <div class="clearfix">
                                            <span class="pull-left">Hardware Upgrade</span>
                                            <span class="pull-right">35%</span>
                                        </div>

                                        <div class="progress progress-mini">
                                            <div style="width:35%" class="progress-bar progress-bar-danger"></div>
                                        </div>
                                    </a>
                                </li>

                                <li>
                                    <a href="#">
                                        <div class="clearfix">
                                            <span class="pull-left">Unit Testing</span>
                                            <span class="pull-right">15%</span>
                                        </div>

                                        <div class="progress progress-mini">
                                            <div style="width:15%" class="progress-bar progress-bar-warning"></div>
                                        </div>
                                    </a>
                                </li>

                                <li>
                                    <a href="#">
                                        <div class="clearfix">
                                            <span class="pull-left">Bug Fixes</span>
                                            <span class="pull-right">90%</span>
                                        </div>

                                        <div class="progress progress-mini progress-striped active">
                                            <div style="width:90%" class="progress-bar progress-bar-success"></div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li class="dropdown-footer">
                            <a href="#">
                                See tasks with details
                                <i class="ace-icon fa fa-arrow-right"></i>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="purple dropdown-modal">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <i class="ace-icon fa fa-bell icon-animated-bell"></i>
                        <span class="badge badge-important">8</span>
                    </a>

                    <ul class="dropdown-menu-right dropdown-navbar navbar-pink dropdown-menu dropdown-caret dropdown-close">
                        <li class="dropdown-header">
                            <i class="ace-icon fa fa-exclamation-triangle"></i>
                            8 Notifications
                        </li>

                        <li class="dropdown-content">
                            <ul class="dropdown-menu dropdown-navbar navbar-pink">
                                <li>
                                    <a href="#">
                                        <div class="clearfix">
													<span class="pull-left">
														<i class="btn btn-xs no-hover btn-pink fa fa-comment"></i>
														New Comments
													</span>
                                            <span class="pull-right badge badge-info">+12</span>
                                        </div>
                                    </a>
                                </li>

                                <li>
                                    <a href="#">
                                        <i class="btn btn-xs btn-primary fa fa-user"></i>
                                        Bob just signed up as an editor ...
                                    </a>
                                </li>

                                <li>
                                    <a href="#">
                                        <div class="clearfix">
													<span class="pull-left">
														<i class="btn btn-xs no-hover btn-success fa fa-shopping-cart"></i>
														New Orders
													</span>
                                            <span class="pull-right badge badge-success">+8</span>
                                        </div>
                                    </a>
                                </li>

                                <li>
                                    <a href="#">
                                        <div class="clearfix">
													<span class="pull-left">
														<i class="btn btn-xs no-hover btn-info fa fa-twitter"></i>
														Followers
													</span>
                                            <span class="pull-right badge badge-info">+11</span>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li class="dropdown-footer">
                            <a href="#">
                                See all notifications
                                <i class="ace-icon fa fa-arrow-right"></i>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="green dropdown-modal">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <i class="ace-icon fa fa-envelope icon-animated-vertical"></i>
                        <span class="badge badge-success">5</span>
                    </a>

                    <ul class="dropdown-menu-right dropdown-navbar dropdown-menu dropdown-caret dropdown-close">
                        <li class="dropdown-header">
                            <i class="ace-icon fa fa-envelope-o"></i>
                            5 Messages
                        </li>

                        <li class="dropdown-content">
                            <ul class="dropdown-menu dropdown-navbar">
                                <li>
                                    <a href="#" class="clearfix">
                                        <img src="#springUrl('')/statics/ace-admin/assets/images/avatars/avatar.png" class="msg-photo" alt="Alex's Avatar" />
												<span class="msg-body">
													<span class="msg-title">
														<span class="blue">Alex:</span>
														Ciao sociis natoque penatibus et auctor ...
													</span>

													<span class="msg-time">
														<i class="ace-icon fa fa-clock-o"></i>
														<span>a moment ago</span>
													</span>
												</span>
                                    </a>
                                </li>

                                <li>
                                    <a href="#" class="clearfix">
                                        <img src="#springUrl('')/statics/ace-admin/assets/images/avatars/avatar3.png" class="msg-photo" alt="Susan's Avatar" />
												<span class="msg-body">
													<span class="msg-title">
														<span class="blue">Susan:</span>
														Vestibulum id ligula porta felis euismod ...
													</span>

													<span class="msg-time">
														<i class="ace-icon fa fa-clock-o"></i>
														<span>20 minutes ago</span>
													</span>
												</span>
                                    </a>
                                </li>

                                <li>
                                    <a href="#" class="clearfix">
                                        <img src="#springUrl('')/statics/ace-admin/assets/images/avatars/avatar4.png" class="msg-photo" alt="Bob's Avatar" />
												<span class="msg-body">
													<span class="msg-title">
														<span class="blue">Bob:</span>
														Nullam quis risus eget urna mollis ornare ...
													</span>

													<span class="msg-time">
														<i class="ace-icon fa fa-clock-o"></i>
														<span>3:15 pm</span>
													</span>
												</span>
                                    </a>
                                </li>

                                <li>
                                    <a href="#" class="clearfix">
                                        <img src="#springUrl('')/statics/ace-admin/assets/images/avatars/avatar2.png" class="msg-photo" alt="Kate's Avatar" />
												<span class="msg-body">
													<span class="msg-title">
														<span class="blue">Kate:</span>
														Ciao sociis natoque eget urna mollis ornare ...
													</span>

													<span class="msg-time">
														<i class="ace-icon fa fa-clock-o"></i>
														<span>1:33 pm</span>
													</span>
												</span>
                                    </a>
                                </li>

                                <li>
                                    <a href="#" class="clearfix">
                                        <img src="#springUrl('')/statics/ace-admin/assets/images/avatars/avatar5.png" class="msg-photo" alt="Fred's Avatar" />
												<span class="msg-body">
													<span class="msg-title">
														<span class="blue">Fred:</span>
														Vestibulum id penatibus et auctor  ...
													</span>

													<span class="msg-time">
														<i class="ace-icon fa fa-clock-o"></i>
														<span>10:09 am</span>
													</span>
												</span>
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li class="dropdown-footer">
                            <a href="inbox.html">
                                See all messages
                                <i class="ace-icon fa fa-arrow-right"></i>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="light-blue dropdown-modal">
                    <a data-toggle="dropdown" href="#" class="dropdown-toggle">
                        <img class="nav-user-photo" src="#springUrl('')/statics/ace-admin/assets/images/avatars/user.jpg" alt="Jason's Photo" />
								<span class="user-info">
									<small>$sysOrg.org_name</small>
                                    $!sysUser.realName
								</span>

                        <i class="ace-icon fa fa-caret-down"></i>
                    </a>

                    <ul class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
                        <li>
                            <a href="#">
                                <i class="ace-icon fa fa-cog"></i>
                                Settings
                            </a>
                        </li>

                        <li>
                            <a href="profile.html">
                                <i class="ace-icon fa fa-user"></i>
                                Profile
                            </a>
                        </li>

                        <li class="divider"></li>

                        <li>
                            <a href="#springUrl('/logout')" class="logout">
                                <i class="ace-icon fa fa-power-off"></i>
                                Logout
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div><!-- /.navbar-container -->
</div>

<div class="main-container ace-save-state" id="main-container">
    <script type="text/javascript">
        try{ace.settings.loadState('main-container')}catch(e){}
    </script>

    <div id="sidebar" class="sidebar                  responsive                    ace-save-state">
        <script type="text/javascript">
            try{ace.settings.loadState('sidebar')}catch(e){}
        </script>




        <div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
            <i id="sidebar-toggle-icon" class="ace-icon fa fa-angle-double-left ace-save-state" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
        </div>

        <ul class="nav nav-list">


##            <li class="">
##                <a href="#" class="dropdown-toggle">
##                    <i class="menu-icon fa fa-desktop"></i>
##                    <span class="menu-text"> 环保电价报表 </span>
##
##                    <b class="arrow fa fa-angle-down"></b>
##                </a>
##
##                <b class="arrow"></b>
##
##                <ul class="submenu">
##                    <li class="">
##                        <a href="#springUrl('')/ExcelToWord/yqpfyb" class="J_menuItem">
##                            <i class="menu-icon fa fa-caret-right"></i>
##                            烟气排放月报表
##                        </a>
##
##                        <b class="arrow"></b>
##                    </li>
##
##                    <li class="">
##                        <a href="#springUrl('')/ExcelToWord/djkhyb" class="J_menuItem">
##                            <i class="menu-icon fa fa-caret-right"></i>
##                            电价考核月报表
##                        </a>
##
##                        <b class="arrow"></b>
##                    </li>
##
##                    <li class="">
##                        <a href="#springUrl('')/ExcelToWord/djbtyb" class="J_menuItem">
##                            <i class="menu-icon fa fa-caret-right"></i>
##                            电价补贴月报表
##                        </a>
##
##                        <b class="arrow"></b>
##                    </li>
##                </ul>
##            </li>
##            <li class="">
##                <a href="#" class="dropdown-toggle">
##                    <i class="menu-icon fa fa-list"></i>
##                    <span class="menu-text"> 统计分析月报表 </span>
##
##                    <b class="arrow fa fa-angle-down"></b>
##                </a>
##
##                <b class="arrow"></b>
##
##                <ul class="submenu">
##                    <li class="">
##                        <a href="#springUrl('')/ExcelToWordSec/yqzxList" class="J_menuItem">
##                            <i class="menu-icon fa fa-caret-right"></i>
##                            基础数据导入
##                        </a>
##
##                        <b class="arrow"></b>
##                    </li>
##
##                    <li class="">
##                        <a href="#springUrl('')/ExcelToWordSec/djkhList" class="J_menuItem">
##                            <i class="menu-icon fa fa-caret-right"></i>
##                            电价考核月报表
##                        </a>
##
##                        <b class="arrow"></b>
##                    </li>
##
##                    <li class="">
##                        <a href="#springUrl('')/ExcelToWordSec/djbtList" class="J_menuItem">
##                            <i class="menu-icon fa fa-caret-right"></i>
##                            电价补贴月报表
##                        </a>
##
##                        <b class="arrow"></b>
##                    </li>
##                </ul>
##            </li>
##
##
##            <li class="">
##                <a href="#" class="dropdown-toggle">
##                    <i class="menu-icon fa fa-cogs"></i>
##                    <span class="menu-text"> 用户中心 </span>
##
##                    <b class="arrow fa fa-angle-down"></b>
##                </a>
##
##                <b class="arrow"></b>
##
##                <ul class="submenu">
##                    <li class="">
##                        <a href="#springUrl('')/sysuser/sysuserlist" class="J_menuItem">
##                            <i class="menu-icon fa fa-caret-right"></i>
##                            用户管理
##                        </a>
##
##                        <b class="arrow"></b>
##                    </li>
##
##                    <li class="">
##                        <a href="#springUrl('')/ExcelToWordSec/djkhList" class="J_menuItem">
##                            <i class="menu-icon fa fa-caret-right"></i>
##                            角色管理
##                        </a>
##
##                        <b class="arrow"></b>
##                    </li>
##
##                    <li class="">
##                        <a href="#springUrl('')/ExcelToWordSec/djbtList" class="J_menuItem">
##                            <i class="menu-icon fa fa-caret-right"></i>
##                            菜单管理
##                        </a>
##
##                        <b class="arrow"></b>
##                    </li>
##                    <li class="">
##                        <a href="#springUrl('')/ExcelToWordSec/djbtList" class="J_menuItem">
##                            <i class="menu-icon fa fa-caret-right"></i>
##                            字典管理
##                        </a>
##
##                        <b class="arrow"></b>
##                    </li>
##                </ul>
##            </li>

        </ul><!-- /.nav-list -->


    </div>

    <div class="main-content">
        <div class="main-content-inner">

            <div class="row content-tabs breadcrumbs ace-save-state">
                <button class="roll-nav roll-left J_tabLeft"><i class="fa fa-backward"></i>
                </button>
                <nav class="page-tabs J_menuTabs">
                    <div class="page-tabs-content">
                        <a href="javascript:;" class="active J_menuTab index-page" data-id="index_v1.html">首页</a>
                    </div>
                </nav>
                <button class="roll-nav roll-right J_tabRight"><i class="fa fa-forward"></i>
                </button>
            </div>

            <div class="page-content">

                <div class="ace-settings-container" id="ace-settings-container">
                    <div class="btn btn-app btn-xs btn-warning ace-settings-btn" id="ace-settings-btn">
                        <i class="ace-icon fa fa-cog bigger-130"></i>
                    </div>

                    <div class="ace-settings-box clearfix" id="ace-settings-box">
                        <div class="pull-left width-50">
                            <div class="ace-settings-item">
                                <div class="pull-left">
                                    <select id="skin-colorpicker" class="hide">
                                        <option data-skin="no-skin" value="#438EB9">#438EB9</option>
                                        <option data-skin="skin-1" value="#222A2D">#222A2D</option>
                                        <option data-skin="skin-2" value="#C6487E">#C6487E</option>
                                        <option data-skin="skin-3" value="#D0D0D0">#D0D0D0</option>
                                    </select>
                                </div>
                                <span>&nbsp; Choose Skin</span>
                            </div>

                            <div class="ace-settings-item">
                                <input type="checkbox" class="ace ace-checkbox-2 ace-save-state" id="ace-settings-navbar" autocomplete="off" />
                                <label class="lbl" for="ace-settings-navbar"> Fixed Navbar</label>
                            </div>

                            <div class="ace-settings-item">
                                <input type="checkbox" class="ace ace-checkbox-2 ace-save-state" id="ace-settings-sidebar" autocomplete="off" />
                                <label class="lbl" for="ace-settings-sidebar"> Fixed Sidebar</label>
                            </div>

                            <div class="ace-settings-item">
                                <input type="checkbox" class="ace ace-checkbox-2 ace-save-state" id="ace-settings-breadcrumbs" autocomplete="off" />
                                <label class="lbl" for="ace-settings-breadcrumbs"> Fixed Breadcrumbs</label>
                            </div>

                            <div class="ace-settings-item">
                                <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-rtl" autocomplete="off" />
                                <label class="lbl" for="ace-settings-rtl"> Right To Left (rtl)</label>
                            </div>

                            <div class="ace-settings-item">
                                <input type="checkbox" class="ace ace-checkbox-2 ace-save-state" id="ace-settings-add-container" autocomplete="off" />
                                <label class="lbl" for="ace-settings-add-container">
                                    Inside
                                    <b>.container</b>
                                </label>
                            </div>
                        </div><!-- /.pull-left -->

                        <div class="pull-left width-50">
                            <div class="ace-settings-item">
                                <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-hover" autocomplete="off" />
                                <label class="lbl" for="ace-settings-hover"> Submenu on Hover</label>
                            </div>

                            <div class="ace-settings-item">
                                <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-compact" autocomplete="off" />
                                <label class="lbl" for="ace-settings-compact"> Compact Sidebar</label>
                            </div>

                            <div class="ace-settings-item">
                                <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-highlight" autocomplete="off" />
                                <label class="lbl" for="ace-settings-highlight"> Alt. Active Item</label>
                            </div>
                        </div><!-- /.pull-left -->
                    </div><!-- /.ace-settings-box -->
                </div><!-- /.ace-settings-container -->

                <!-- /section:settings.box -->
                <div class="row J_mainContent" id="content-main">
                    <iframe onload="changeFrameHeight()" id="J_iframe" class="J_iframe" name="iframe0" width="100%" height="100%" src="http://www.baidu.com" frameborder="0" data-id="index_v1.html" seamless></iframe>
                </div>
            </div><!-- /.page-content -->

        </div>
    </div><!-- /.main-content -->

    <div class="footer">
        <div class="footer-inner">
            <div class="footer-content">
						<span class="bigger-120">
							<span class="blue bolder">Ace</span>
							Application &copy; 2013-2014
						</span>

                &nbsp; &nbsp;
						<span class="action-buttons">
							<a href="#">
                                <i class="ace-icon fa fa-twitter-square light-blue bigger-150"></i>
                            </a>

							<a href="#">
                                <i class="ace-icon fa fa-facebook-square text-primary bigger-150"></i>
                            </a>

							<a href="#">
                                <i class="ace-icon fa fa-rss-square orange bigger-150"></i>
                            </a>
						</span>
            </div>
        </div>
    </div>

    <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
        <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
    </a>
</div><!-- /.main-container -->

<!-- basic scripts -->

<!--[if !IE]> -->
<script src="#springUrl('')/statics/ace-admin/assets/js/jquery-2.1.4.min.js"></script>

<!-- <![endif]-->

<!--[if IE]>
<script src="#springUrl('')/statics/ace-admin/assets/js/jquery-1.11.3.min.js"></script>
<![endif]-->
<script type="text/javascript">
    if('ontouchstart' in document.documentElement) document.write("<script src='#springUrl('')/statics/ace-admin/assets/js/jquery.mobile.custom.min.js'>"+"<"+"/script>");
</script>
<script src="#springUrl('')/statics/ace-admin/assets/js/bootstrap.min.js"></script>

<!-- page specific plugin scripts -->

<!--[if lte IE 8]>
<script src="#springUrl('')/statics/ace-admin/assets/js/excanvas.min.js"></script>
<![endif]-->
<script src="#springUrl('')/statics/ace-admin/assets/js/jquery-ui.custom.min.js"></script>
<script src="#springUrl('')/statics/ace-admin/assets/js/jquery.ui.touch-punch.min.js"></script>
<script src="#springUrl('')/statics/ace-admin/assets/js/jquery.easypiechart.min.js"></script>
<script src="#springUrl('')/statics/ace-admin/assets/js/jquery.sparkline.index.min.js"></script>
<script src="#springUrl('')/statics/ace-admin/assets/js/jquery.flot.min.js"></script>
<script src="#springUrl('')/statics/ace-admin/assets/js/jquery.flot.pie.min.js"></script>
<script src="#springUrl('')/statics/ace-admin/assets/js/jquery.flot.resize.min.js"></script>

<!-- ace scripts -->
<script src="#springUrl('')/statics/ace-admin/assets/js/ace-elements.min.js"></script>
<script src="#springUrl('')/statics/ace-admin/assets/js/ace.min.js"></script>



<!-- custom scripts -->
<script src="#springUrl('')/statics/ace-admin/assets/js/menu-render.js"></script>
<script>

    //实现菜单
    function getDom(data) {
        if(!data){return ''}
        var _html='';
        jQuery.each(data,function(i) {
            var row = data[i];
            if (row.hasOwnProperty("Children")) {
                _html += '<li>';
                _html += '<a href="#" class="dropdown-toggle">';
                _html += '<i class="menu-icon fa ' + row.menu_icon + '"></i>';
                _html += '<span class="menu-text">' + row.menu_name + '</span > ';
                _html += '<b class="arrow fa fa-angle-down"></b>';
                _html += '</a >';
                _html += '<b class="arrow"></b>';
                _html += '<ul class="submenu">';
                _html += getDom(row.Children);
                _html += '</ul>';
                _html += '</li>';
            } else {
                _html += '<li class="" id="' + row.Id + '">';
                _html += "<a class='J_menuItem' href=\"#springUrl('')" + row.url_addr + "\">";

                _html += '<i class="menu-icon fa ' + row.menu_icon + '"></i>';
                _html += '<span class="menu-text">' + row.menu_name + '</span>';
                _html += '</a>';
                _html += '<b class="arrow"></b>';
                _html += '</li>';
            }

        });
        return _html;
    };
    var ltt = new LTT(JSON.parse('$!menuList'), {
        key_id: 'menu_id', //菜单id
        key_parent: 'parent_id', //父菜单id
        key_child:'Children' //此参数名称不可修改，改的话要和menu-render.js中的Children一同修改成同样的名字
    });
    var tree = ltt.GetTree();
    var html = getDom(tree);
    $(".nav-list").html(html);


</script>
<!-- 以上脚本要先执行， -->
<script src="#springUrl('')/statics/ace-admin/assets/js/tab-menu.js"></script>
<script src="#springUrl('')/statics/ace-admin/assets/js/contabs.js"></script>

<script type="text/javascript" language="javascript">

    window.onresize=function(){
        changeFrameHeight();
    }
    function changeFrameHeight(){
        var ifmHeight = document.documentElement.clientHeight - 130;
        $(".main-content").css("height",ifmHeight);

    }


    $(function() {

        /*
         $(".nav-list").slimScroll({
         height: '100%',
         opacity: 0.1,
         railOpacity: 0,
         wheelStep: 10
         });
         */
        $(".nav.nav-list a").click(function(){
            if(!$(this).hasClass("dropdown-toggle")){
                $(".nav.nav-list li").removeClass("active");
                $(this).parent().addClass("active");
            }
        });
    });

</script>




</body>
</html>
